# Python files
__pycache__
.ipynb_checkpoints

# MacOS
.DS_Store

# Code coverage
lcov.info
.coverage

# Results of playwright tests with tracing
test-results/

# Files packages installed with npm (if you use it)
node_modules
